{% load static %}
<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset= "UTF-8">
	<title>Damilola Ayodele Resume Design</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/zuni submit.css' %}">
	<script src="http://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>

<div class="resume">
	<div class="resume_left">
		<div class="resume_profile">
			<img src="{% static 'images/Profile.jpg' %}" alt="Profile_pic">
		</div>
		<div class="resume_content">
			<div class="resume_item resume_info">
				<div class="title">
					<p class="bold">Damilola Ayodele</p>
					<p class="regular">Backend Developer, Data Analyst</p>
				</div>
				<ul>
					<li>
						<div class="icon">
							 <i class="fas fa-map-signs" aria-hidden="true"></i>
						</div>
						<div class="data">
							13, Aina-Adebowale Street, Saraki, Ogun State<br/> Nigeria
						</div>
					</li>
					<li>
						<div class="icon"><i class="fas fa-mobile-alt" aria-hidden = "true"></i></div>
						<div class="data">
							+234 8101597985
						</div>
					</li>
					<li>
						<div class="icon"><i class="fas fa-envelope" aria-hidden="true"></i></div>
						<div class="data">
							ayodelephoenix@gmail.com
						</div>
					</li>
				</ul>

			</div>
			<div class="resume_item resume_skills">
				<div class="title">
					<p class="bold">Skills</p>
				</div>
				<ul>
					<li>
						<div class="skill_name">
							Python
						</div>
						<div class="skill_progress">
							<span style="width: 70%;"></span>
						</div>
						<div class="skill_per">70%</div>
					</li>
					<li>
						<div class="skill_name">
							HTML
						</div>
						<div class="skill_progress">
							<span style="width: 15%;"></span>
						</div>
						<div class="skill_per">15%</div>
					</li>
					<li>
						<div class="skill_name">
							CSS
						</div>
						<div class="skill_progress">
							<span style="width: 15%;"></span>
						</div>
						<div class="skill_per">15%</div>
					</li>
					<li>
						<div class="skill_name">
							Git
						</div>
						<div class="skill_progress">
							<span style="width: 50%;"></span>
						</div>
						<div class="skill_per">50%</div>
					</li>
					<li>
						<div class="skill_name">
							SQL
						</div>
						<div class="skill_progress">
							<span style="width: 10%;"></span>
						</div>
						<div class="skill_per">10%</div>
					</li>
				</ul>
			</div>
			<div class="resume_item resume_social">
				<div class="title">
					<p class="bold">Social</p>
				</div>
				<ul>
					<li>
						<div class="icon">
							<i class="fab fa-facebook-square" aria-hidden="true"></i>
						</div>
						<div class="data">
							<p class="semi_bold">
								Facebook
							</p>
							<p>Damilola@Facebook</p>
						</div>
					</li>
					<li>
						<div class="icon">
							<i class="fab fa-twitter-square" aria-hidden= "true"></i>
						</div>
						<div class="data">
							<p class="semi_bold">
								Twitter
							</p>
							<p>Damilola@Twitter</p>
						</div>
					</li>
					<li>
						<div class="icon">
							<i class="fab fa-kaggle" aria-hidden="true"></i>
						</div>
						<div class="data">
							<p class="semi_bold">
								Kaggle
							</p>
							<p>Damilola@Kaggle</p>
						</div>
					</li>
					<li>
						<div class="icon">
							<i class="fab fa-linkedin" aria-hidden="true"></i>
						</div>
						<div class="data">
							<p class="semi_bold">
								LinkedIn
							</p>
							<p>Damilola@LinkedIn</p>
						</div>
					</li>
				</ul>
			</div>	
		</div>

	</div>	
	<div class="resume_right">
		<div class="resume_item resume_about">
			<div class="title">
				<p class="bold">About Me</p>
			</div>
			<p>
				I am a data analyst and also a backend developer. I am a mechanical engineering graduate with a second class Second Class (Honours) Upper Division from the Olabisi Onabanjo University. I have experiences from various organizations while occupying various positions. I am a hard worker, ever ready to learn new things and gain new experiences. I am an able leader, a willing follower and I work very well with others.</p>
		</div>
		<div class="resume_item resume_work">
			<div class="title">
				<p class="bold">Work Experience</p>
			</div>
			<ul>
				<li>
					<div class="date">May 2016 - October 2016</div>
					<div class="info">
						<p class="semi-bold">Engineering Intern.</p>
						<p>Assisted in the diagnostics, repairs and maintenance of automobiles.
						Responsible for the assessment of student workshop manuals and in the recording of student results 
						Assisted in student supervision during workshop practical
						Gained knowledge of how to weld, use of the Lathe machine.</p>
					</div>
				</li>
				<li>
					<div class="date">2018 - 2019</div>
					<div class="info">
						<p class="semi-bold">Temporary Teacher</p>
						<p>Assisted in the diagnostics, repairs and maintenance of automobiles.
						Responsible for the assessment of student workshop manuals and in the recording of student results 
						Assisted in student supervision during workshop practical
						Gained knowledge of how to weld, use of the Lathe machine.</p>
					</div>
				</li>
				<li>
					<div class="date">March 2021 - April 2021</div>
					<div class="info">
						<p class="semi-bold">Data Science Intern.</p>
						<p>This was a virtual internship where I and several other interns from various parts of the world were given tasks involving working with data to complete individually or cooperate in groups.</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="resume_item resume_education">
			<div class="title">
				<p class="bold">Education</p>
			</div>
			<ul>
				<li>
					<div class="date">2012 - 2017</div>
					<div class="info">
						<p class="semi-bold">Olabisi Onabanjo University</p>
						<p>Second Class (Honors) Upper Division in Mechanical Engineering (B.Eng.)</p>
					</div>
				</li>
				<li>
					<div class="date">2005 - 2011</div>
					<div class="info">
						<p class="semi-bold">Abeokuta Grammar School</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="resume_item resume_hobby">
			<div class="title">
				<p class="bold">Hobby</p>
			</div>
			<ul>
				<li><i class="fas fa-book" aria-hidden="true"></i></li>
				<li><i class="fas fa-gamepad" aria-hidden="true"></i></li>
				<li><i class="fas fa-music" aria-hidden="true"></i></li>
				<li><i class="fas fa-futbol" aria-hidden="true"></i></li>
			</ul>
		</div>
	</div>

	
	</div>

</div>

<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Registration Form</h2>
                    <form method="POST">
                    	{% csrf_token %}
    					{{ form }}
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">first name</label>
                                    <input class="input--style-4" type="text" name="first_name">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">last name</label>
                                    <input class="input--style-4" type="text" name="last_name">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Birthday</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="birthday">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" checked="checked" name="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio" name="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="email">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Phone Number</label>
                                    <input class="input--style-4" type="text" name="phone">
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="label">Subject</label>
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="subject">
                                    <option disabled="disabled" selected="selected">Choose option</option>
                                    <option>Subject 1</option>
                                    <option>Subject 2</option>
                                    <option>Subject 3</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                        </div>
                    </form>
                </div class = "resume_item">
                <li><img src="{% static 'images/zuni1.jpeg' %}"></li>
                <li><img src="{% static 'images/zuni2.jpeg' %}"></li>
                <li></li><img src="{% static 'images/zuni3.jpeg' %}">
                <a href="https://zuri-live.herokuapp.com/">Zuni Team</a>
            </li>
            </div>
        </div>
    </div>

</body>
</html>